<form action="/restaurants" method="POST">
  <ul>
    名稱：<input class="form-control" type="text" placeholder="name" name="name">
  </ul>
  <ul>
    類別：<input class="form-control" type="text" placeholder="category" name="category">
  </ul>
  <ul>
    地址：<input class="form-control" type="text" placeholder="location" name="location">
  </ul>
  <ul>
    電話：<input class="form-control" type="text" placeholder="phone" name="phone">
  </ul>
  <ul>
    簡介：<input class="form-control" type="text" placeholder="description" name="description">
  </ul>
  <ul>
    照片：<input class="form-control" type="text" placeholder="image" name="image">
  </ul>
  <div>
    <button type="submit">Save</button>
  </div>
</form>